extends layout

block content
    each post in listPosts
      div
        p #{post.content}
        a(href='./posts/updatelike?userId='+ post.userId + '&id=' + post.id) #{post.nbLikes}
          img(src="/images/like.png" style='width:20px; height:20px;')
        p #{post.date}
      br
      hr